body{
    font: 20px arial, sans-serif;
}

.navbar {
    background-color: #00BFFF;
}

.quem-somos {
    background-color: #04B486;
    color: black;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #00FFBF;
    color: black;
}

.servicos {
    background-color: #81F7BE;
    color: black;
}

.bg-footer {
    background-color: black;
    color: white;
}